@model _190442010026.Models.pengemudi

@{
    ViewBag.Title = "Edit Pengemudi";
    Layout = "~/Views/Shared/Template.cshtml";
}

<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        @using (Html.BeginForm("Update", "Pengemudi", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row bg-white has-shadow">

                <div class="col-12">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        <label>Nama Pengemudi :</label>
                        @Html.TextBoxFor(model => model.nama_pengemudi, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Plat Nomor :</label>
                        @Html.TextBoxFor(model => model.plat_nomor, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Nomor SIM :</label>
                        @Html.TextBoxFor(model => model.nomor_sim, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Gaji Perjam :</label>
                        @Html.TextBoxFor(model => model.gaji_perjam, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Insentif Makan :</label>
                        @Html.TextBoxFor(model => model.insentif_makan, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Insentif Bensin :</label>
                        @Html.TextBoxFor(model => model.insentif_bensin, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-12">
                    <a class="btn btn-light" href="@Url.Action("Index", "Pengemudi")">Kembali</a>
                    <button type="submit" class="btn btn-primary" onclick="return confirm('Benar akan disimpan data ini ?')">Update</button>
                </div>

            </div>
        }
    </div>
</section>

